# 1,2.Find the data type of a if a=9

In [1]:
a=9
type(a)

int

# 3.Find the data type of a if a='9.'

In [2]:
a=9.
type(a)

float

# 4.Find the data type of a if a=(9)

In [3]:
a=(9)
type(a)

int

# 5.Find the data type of a if a=False

In [5]:
a=False
type(a)

bool

# 6.Find the data type of a if a=[1,2,3]

In [7]:
a=[1,2,3]
type(a)

list

# 7.Find the data type of a if a=(1,2,3)

In [8]:
a=(1,2,3)
type(a)

tuple

# 8.Find the data type of a if a={'key': 9}

In [9]:
a={'key':9}
type(a)

dict

# 9.Find the data type of a if a=1 + 9j

In [10]:
a=1 + 9j
type(a)

complex

# 10.Set a=1 and b=2. What data type is a/b

In [11]:
a=1
b=2
c=a/b
type(c)

float

# 11.Create a dictionary numbers = {'one':1, 'two':2, 'three':3}. Pull out the number '2' by calling the key 'two'

In [15]:
a= {'one':1, 'two':2, 'three':3}
a['two']

2

# 12.Create a tuple with the numbers 8, 9, and 10?

In [13]:
a=(8,9,10)
type(a)

tuple

# 13.Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

In [18]:
d = {'one':1, 'two':2, 'three':3}
d['one']
##here occurred error was NAMEERROR,which is gained by not mentioning the colens in the dict so that it can't find the given

1

# 14.Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

In [20]:
f = False 
not f
##here occurred error was SYNTAXERROR,

True

# 15.Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:

In [21]:
lst = [1,3,5] 
lst[2]
##here occurred error was INDEXERROR,the list has 3 values with the index of 0,1,2.so here the last index value is 2

5